{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {# TOC positioned outside container in left margin #}
  <nav class="app-toc app-toc--fixed" aria-label="Table of contents" id="toc-sidebar">
    {# TOC will be injected here by transform #}
  </nav>

  {# Main Content Area - full width #}
  {{ appDocumentHeader({
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  {% include "layouts/shared/related.njk" %}
{% endblock %}
