.grid-card {
    background-color: #f1f2f3;
    border-left: 4px solid #1d70b8;
    border-left-style: solid;
    padding: 15px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-top: 30px;
}

@media (min-width: 641px) {
    .card-grid--three-col {
        grid-template-columns: repeat(3, 1fr);
    }
}